.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  padding: 32px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input,
button {
  font-size: 16px;
  padding: 8px;
  margin: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 4px;
}

button {
  background-color: #4b9ee6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #35648d;
}